/*------------------------------------*\
  #Подключаем шрифты
\*------------------------------------*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}





/*------------------------------------*\
  #Базовая стилизация
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.btn,
.contacts a,
.nfo-about-us a,
.promo-slider__content a {
  color: rgb(0, 0, 0);

  background-color: rgb(240, 197, 46);
}

.btn:active,
.contacts a:active,
.info-about-us a:active,
.promo-slider__content a:active {
  color: rgba(0, 0, 0, 0.3);
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-header {
  background-color: rgb(247, 226, 150);
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.user-action,
.site-nav,
.catalog,
.catalog__list {
  list-style: none;
}

.user-action a,
.site-nav a {
  color: rgb(0, 0, 0);
}

.site-nav {
  letter-spacing: 4px;
}

.user-action,
.user-action-form,
.catalog {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.catalog {
  line-height: 36px;
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
}

.user-action,
.user-action-form {
  line-height: 30px;
}

.site-nav__item {
  line-height: 24px;
  font-size: 18px;
  text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.user-action a:hover,
.user-action a:focus {
  opacity: 0.6;
}

.site-nav a:active,
.user-action a:active {
  opacity: 0.3;
}

.user-action-form__btn {
  background-color: transparent;
  visibility: hidden;
}

.user-action-form__user-search {
  opacity: 0.3;
  background-color: transparent;
  border: none;
}

.user-action-form__user-search:hover {
  opacity: 0.6;
}

.user-action-form__user-search:focus {
  opacity: 1;
  outline: inherit;

  border-bottom: 2px solid rgb(0, 0, 0);
}

.user-action-form__user-search:focus + .user-action-form__btn {
  visibility: visible;
  border: 2px solid rgb(0, 0, 0);
}

.user-action-form__btn:hover,
.user-action-form__btn:focus {
  color: rgb(233, 233, 233);

  background-color: rgb(0, 0, 0);
}

.user-action-form__btn:active {
  color: rgb(106, 106, 106);

  background-color: rgb(0, 0, 0);
  outline: inherit;

  visibility: visible;
}





/*------------------------------------*\
  #SLIDER-CONTROL
\*------------------------------------*/

.slider-control__btn {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





/*------------------------------------*\
  #PROMO-SLIDER
\*------------------------------------*/

.promo-slider__lead {
  font-size: 47px;
  line-height: 56px;
}

.promo-slider__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.descripton-list__definition {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.descripton-list__name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slider-control {
  list-style: none;
}





/*------------------------------------*\
  #PRODUCT-NAVIGATION
\*------------------------------------*/

.product-nav__list {
  list-style: none;
  font-size: 18px;
}

.product-nav__item a {
  color: rgb(0, 0, 0);
}

.product-nav__link:focus .product-nav__img {
  opacity: 0.3;
}

.product-nav__link:focus {
  color: rgba(0, 0, 0, 0.3);
}





/*------------------------------------*\
  #PRODUCT-NAV-&-BREADCRUMBS
\*------------------------------------*/

.product-nav__current-product {
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.breadcrumbs__link,
.breadcrumbs__item {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}





/*------------------------------------*\
  #PURCHASE-DETAILS
\*------------------------------------*/

.purchase-details__heading {
  font-size: 47px;
  line-height: 48px;
}

.purchase-details__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.slider-control__btn-text {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;

  position: relative;
  z-index: 1;
}

.slider-control__btn-text:focus {
  color: rgb(247, 225, 132);

  outline: none;
}

#purchase-details-btn-1:checked ~ .slider-control #purchase-details-control-1,
#purchase-details-btn-2:checked ~ .slider-control #purchase-details-control-2,
#purchase-details-btn-3:checked ~ .slider-control #purchase-details-control-3 {
  color: rgb(247, 225, 132);
  background-color: rgb(0, 0, 0);
}





/*------------------------------------*\
  #BRANDS-LOGOTYPES
\*------------------------------------*/

.brands-logotypes__link {
  display: block;
  position: relative;

  height: auto;
}

.brands-logotypes__list {
  list-style: none;
}

.brands-logotypes__img_color_b-w {
  opacity: 0.2;
}

.brands-logotypes__img_color_colorful {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  opacity: 0;
}

.brands-logotypes__img_color_b-w:hover + .brands-logotypes__img_color_colorful,
.brands-logotypes__link:focus .brands-logotypes__img_color_colorful {
  opacity: 1;
}

.brands-logotypes__img_color_colorful:hover,
.brands-logotypes__img_color_colorful:focus {
  opacity: 1;
}





/*------------------------------------*\
  #ABOUT-US
\*------------------------------------*/

.info-about-us__heading {
  font-size: 47px;
  line-height: 48px;
}

.info-about-us__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}





/*------------------------------------*\
  #CONTACTS
\*------------------------------------*/

.contacts__heading {
  font-size: 47px;
  line-height: 48px;
}

.contacts__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}





/*------------------------------------*\
  #PRODUCTS-CONTAINER
\*------------------------------------*/

.sorting__heading {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sorting__list {
  list-style: none;
}

.sorting__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active {
  color: rgba(0, 0, 0, 1);
}

.form-filters__heading {
  font-size: 18px;
}

.form-filters__item {
  border: none;
}

.form-filters__item label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.sorting__icon-up-img,
.sorting__icon-down-img {
  opacity: 0.2;
}

.sorting__icon-up-link:hover .sorting__icon-up-img,
.sorting__icon-up-link:focus .sorting__icon-up-img,
.sorting__icon-down-link:hover .sorting__icon-down-img,
.sorting__icon-down-link:focus .sorting__icon-down-img {
  opacity: 0.4;
}

.sorting__icon-up-link:active .sorting__icon-up-img,
.sorting__icon-down-link:active .sorting__icon-down-img {
  opacity: 1;
}

.products-cart__name {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.products-cart__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgb(70, 70, 70);
}

.products-cart__compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.products-cart__compare:hover,
.products-cart__compare:focus {
  color: rgba(0, 0, 0, 1);
}

.products-cart__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination__list {
  list-style: none;
}

.pagination__back,
.pagination__next {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.pagination__back:hover,
.pagination__back:focus,
.pagination__next:hover,
.pagination__next:focus {
  background-color: rgb(217, 217, 217);
}

.pagination__back:active,
.pagination__next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item_active,
.pagination__item:active {
  font-size: 16px;
  color: rgb(0, 0, 0);
}





/*------------------------------------*\
  #WRITE-US-MODAL
\*------------------------------------*/

.modal-form label {
  font-size: 18px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);

  border: none;

  background-color: rgb(234, 234, 234);
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea:focus {
  color: rgba(0, 0, 0, 1);
  outline: 3px solid rgb(247, 226, 150);

  background-color: transparent;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 70);
}

.footer-nav,
.footer-user-action {
  list-style: none;
}

.footer__address,
.footer__tel-number {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
}

.footer-nav a {
  font-size: 18px;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
}

.footer-nav a:hover,
.footer-nav a:focus {
  opacity: 0.6;
}

.footer-nav a:active {
  opacity: 0.3;
}

.footer-user-action a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-action a:hover,
.footer-user-action a:focus {
  color: rgb(255, 255, 255);
}

.footer-user-action a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-action .footer-user-action__logout {
  color: rgba(255, 255, 255, 0.3);
}

.social-icon a,
.html-logo {
  color: rgb(255, 255, 255);
}
