/*------------------------------------*\
  #Подключаем шрифты
\*------------------------------------*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}





/*------------------------------------*\
  #Базовая стилизация
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 14px 44px 14px 44px;
  /* временно добавил*/
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.btn,
.contacts__link,
.nfo-about-us a,
.promo-slider__content a {
  color: rgb(0, 0, 0);
  background-color: rgb(240, 197, 46);
}

.btn:active,
.contacts__link:active,
.info-about-us a:active,
.promo-slider__content a:active {
  color: rgba(0, 0, 0, 0.3);
}

*,
* before,
* after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container {
  position: relative;
  width: 1160px;
  margin: auto;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.main-header {
  position: relative;
  margin-top: 40px;
}

.catalog-page .main-header {
  margin-bottom: 44px;
}

/* ----- CONTAINER FOR MAIN HEADER ----- */

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 43px 60px;
  min-height: 299px;
  background-color: rgb(247, 226, 150);
}

/* ----- LOGO ----- */

.main-header__logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

/* ----- DELETE PAD/MAR FOR LIST IN MAIN-HEADER ----- */

.user-action,
.site-nav,
.catalog,
.catalog__list,
.sub-catalog {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ----- USER-ACTION & SITE-NAV ----- */

.user-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main-header__user-action {
  width: 50%;
}

.user-action__item:first-child {
  width: 300px;
}

.user-action__login {
  padding-left: 46px;
}

.user-action__compair {
  width: 120px;
  padding-left: 26px;
}

.user-actions__cart {
  width: 100px;
  padding-left: 67px;
}

.user-action a,
.site-nav a {
  color: rgb(0, 0, 0);
}

.catalog-page .user-action__item:first-child {
  width: 197px;
  padding-left: 47px;
}

.catalog-page .user-action__item:nth-child(2) {
  width: 104px;
}

/* ----- SITE NAV ----- */

.main-header__site-nav {
  margin-top: 30px;
  width: 100%;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  letter-spacing: 4px;
}

.site-nav__item:first-child {
  width: 50%;
}

.site-nav__item:nth-child(2) {
  width: 180px;
  padding-left: 20px;
}

.site-nav__item:nth-child(3) {
  width: 220px;
}

.site-nav__item:last-child {
  widows: 120px;
}

.user-action,
.user-action-form,
.catalog {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.user-action,
.user-action-form {
  line-height: 30px;
}

.site-nav__item {
  font-size: 18px;
  text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.user-action a:hover,
.user-action a:focus {
  opacity: 0.6;
}

.site-nav a:active,
.user-action a:active {
  opacity: 0.3;
}

/* ----- CATALOG ----- */

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  line-height: 36px;
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
}

.sub-catalog {
  width: 240px;
}

.catalog__item:nth-child(2) {
  width: 160px;
}

/* ----- USER-ACTION-FORM ----- */

.main-header__user-action-form {
  width: 50%;
}

.user-action-form__btn {
  background-color: transparent;
  visibility: hidden;
}

.user-action-form__user-search {
  opacity: 0.3;
  background-color: transparent;
  border: none;
}

.user-action-form__user-search:hover {
  opacity: 0.6;
}

.user-action-form__user-search:focus {
  opacity: 1;
  outline: inherit;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.user-action-form__user-search:focus + .user-action-form__btn {
  visibility: visible;
  border: 2px solid rgb(0, 0, 0);
}

.user-action-form__btn:hover,
.user-action-form__btn:focus {
  color: rgb(233, 233, 233);
  background-color: rgb(0, 0, 0);
}

.user-action-form__btn:active {
  color: rgb(106, 106, 106);
  background-color: rgb(0, 0, 0);
  outline: inherit;
  visibility: visible;
}





/*------------------------------------*\
  #SLIDER-CONTROL
\*------------------------------------*/

.slider-control__btn {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





/*------------------------------------*\
  #PROMO-SLIDER
\*------------------------------------*/

.promo-slider {
  position: relative;
  margin-bottom: 24px;
}

#promo-slide-1 .promo-slider__img {
  margin-left: 91px;
  margin-top: -32px;
}

#promo-slide-2 .promo-slider__img {
  margin-left: 116px;
  margin-top: -20px;
}

#promo-slide-3 .promo-slider__img {
  margin-left: 31px;
  margin-top: 31px;
}

.promo-slider__lead {
  margin-top: 47px;
  margin-bottom: 0;
  width: 390px;
  position: relative;
  z-index: 1;
  font-size: 47px;
  line-height: 56px;
}

.promo-slider__lead_full-width {
  width: 100%;
}

.promo-slider__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  width: 480px;
  margin-top: 19px;
  margin-bottom: 50px;
}

.advantage-description__definition {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.advantage-description__name {
  padding-top: 6px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.slider-control {
  list-style: none;
  padding: 0;
}

.promo-slider__item {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  top: -78px;
  left: 0;
}

.promo-slider__content {
  position: relative;
  width: 500px;
  margin-right: 60px;
}

#promo-slide-1 .promo-slider__content::after {
  content: "01";
  position: absolute;
  top: 33px;
  right: -8px;
  font-size: 179.2px;
  color: rgb(255, 255, 255);
}

#promo-slide-2 .promo-slider__content::after {
  content: "02";
  position: absolute;
  top: 33px;
  right: -8px;
  font-size: 179.2px;
  color: rgb(255, 255, 255);
}

#promo-slide-3 .promo-slider__content::after {
  content: "03";
  position: absolute;
  top: 33px;
  right: -8px;
  font-size: 179.2px;
  color: rgb(255, 255, 255);
}

#promo-slider-btn-1:checked ~ #promo-slide-1,
#promo-slider-btn-2:checked ~ #promo-slide-2,
#promo-slider-btn-3:checked ~ #promo-slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-slider__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 57px;
}

.promo-slider__advantage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 160px;
  margin: 0;
}

.promo-slider__advantage .advantage-description__item_margin-left {
  margin-left: -20px;
}

.advantage-description__definition {
  margin-left: 0;
}

.promo-slider__control {
  position: absolute;
  top: 0;
  right: 0;
}





/*------------------------------------*\
  #PRODUCT-NAVIGATION
\*------------------------------------*/

.product-nav {
  margin-bottom: 176px;
}

.product-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  list-style: none;
  font-size: 18px;
}

.product-nav__item {
  width: 160px;
}

.product-nav__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
}

.product-nav__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.product-nav__link:focus .product-nav__img {
  opacity: 0.3;
}

.product-nav__item:nth-child(2) .product-nav__img {
  margin-top: 42px;
}

.product-nav__link .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.product-nav__link:hover .container {
  background-color: rgba(240, 197, 46, 1)
}

.product-nav__heading {
  font-size: 18px;
}





/*------------------------------------*\
  #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs-nav {
  margin-bottom: 44px;
}

.breadcrumbs-nav .container {
  padding-left: 61px;
}

.breadcrumbs-nav__current-product {
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 24px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-right: 39px;
  margin: 0;
}

.breadcrumbs__link,
.breadcrumbs__item {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}





/*------------------------------------*\
  #PRODUCTS-CONTAINER-HEADER
\*------------------------------------*/

.products-container__header {
  background-color: rgb(235, 235, 235);
  height: 71px;
}

.products-container__header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  width: auto;
}

.sorting__heading {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.sorting .sorting__heading {
  padding-left: 72px;
}

.sorting .container {
  width: 41px;
  margin: 0;
  margin-left: auto;
}

.content__header:first-child .sorting__heading {
  padding: 25px 0 0 60px;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  margin-left: 47px;
  padding: 0;
  width: 286px;

  list-style: none;
}

.content__header:first-child {
  width: 328px;
  background-color: rgb(220, 220, 220);
}

.sorting__icon {
  margin-left: auto;
}


.sorting__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting__icon-up-img,
.sorting__icon-down-img {
  opacity: 0.2;
}

.sorting__icon-up-link {
  margin-right: 16px;
}

.sorting__icon-up-link:hover .sorting__icon-up-img,
.sorting__icon-up-link:focus .sorting__icon-up-img,
.sorting__icon-down-link:hover .sorting__icon-down-img,
.sorting__icon-down-link:focus .sorting__icon-down-img {
  opacity: 0.4;
}

.sorting__icon-up-link:active .sorting__icon-up-img,
.sorting__icon-down-link:active .sorting__icon-down-img {
  opacity: 1;
}

/* ----- ASIDE FILTERS ----- */

.products-container__filters {
  width: 328px;
}

.product-container__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filters {
  background-color: rgb(238, 238, 238);
}

.form-filters__heading {
  font-size: 18px;
}

.form-filters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
}

.form-filters__item label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}





/*------------------------------------*\
  #PRODUCTS-CONTAINER
\*------------------------------------*/

/* ----- PRODUCT-CART ----- */

.products-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 832px;
  margin-top: 18px;
}

.products-cart__item {
  position: relative;
  width: 360px;
  min-height: 463px;
  margin-top: 48px;
}

.products-cart__item:nth-child(2n + 1) {
  margin-left: 60px;
}

.products-cart__add {
  visibility: hidden;
  position: absolute;
  top: 180px;
  left: 80px;
}

.products-cart__compare {
  visibility: hidden;
  position: absolute;
  top: 229px;
  left: 109px;
}

.products-cart__item:hover .products-cart__img {
  opacity: 0.5;
}

.products-cart__item:hover .products-cart__add,
.products-cart__item:hover .products-cart__compare {
  visibility: visible;
}

.products-cart__name {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.products-cart__price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  color: rgb(70, 70, 70);
}

.products-cart__compare {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.products-cart__compare:hover {
  color: rgba(0, 0, 0, 1);
}

.products-cart__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.products-cart__name {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.products-cart__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgb(70, 70, 70);
}

.products-cart__compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.products-cart__compare:hover,
.products-cart__compare:focus {
  color: rgba(0, 0, 0, 1);
}

.products-cart__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* ----- PAGINATION ----- */

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 772px;
  height: 70px;
  margin-left: 60px;
  margin-bottom: 77px;

  background-color: rgb(235, 235, 235);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 160px;
  list-style: none;
}

.pagination__back,
.pagination__next {
  width: 160px;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;

  height: 100%;
  padding: 22px 0 0 0;
}

.pagination__back:hover,
.pagination__back:focus,
.pagination__next:hover,
.pagination__next:focus {
  background-color: rgb(217, 217, 217);
}

.pagination__back:active,
.pagination__next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item_active,
.pagination__item:active {
  font-size: 16px;
  color: rgb(0, 0, 0);
}





/*------------------------------------*\
  #PURCHASE-DETAILS
\*------------------------------------*/

.purchase-details {
  height: 288px;
  margin-bottom: 94px;
  background-color: #e5e5e5;
}

.purchase-details .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  top: -100px;
  left: 0;
  min-height: 319px;
}

.purchase-details__item {
  display: none;
}

.purchase-details__heading {
  font-size: 47px;
  line-height: 48px;
}

.purchase-details__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.purchase-details__control {
  margin: 0;
  border-right: 7px solid rgb(0, 0, 0);
}

.purchase-details__control .slider-control__item {
  width: 285px;
}

.slider-control__btn-text {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.slider-control__btn-text:focus {
  color: rgb(247, 225, 132);
  outline: none;
}

#purchase-details-btn-1:checked ~ .slider-control #purchase-details-control-1,
#purchase-details-btn-2:checked ~ .slider-control #purchase-details-control-2,
#purchase-details-btn-3:checked ~ .slider-control #purchase-details-control-3 {
  color: rgb(247, 225, 132);
  background-color: rgb(0, 0, 0);
}

#purchase-details-btn-1:checked ~ #delivery,
#purchase-details-btn-2:checked ~ #warranty,
#purchase-details-btn-3:checked ~ #credit {
  display: block;
}





/*------------------------------------*\
  #BRANDS-LOGOTYPES
\*------------------------------------*/

.brands-logotypes {
  margin-bottom: 80px;
}

.brands-logotypes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.brands-logotypes__link {
  display: block;
  position: relative;
  height: auto;
}

.brands-logotypes__img_color_b-w {
  opacity: 0.2;
}

.brands-logotypes__img_color_colorful {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.brands-logotypes__img_color_b-w:hover + .brands-logotypes__img_color_colorful,
.brands-logotypes__link:focus .brands-logotypes__img_color_colorful {
  opacity: 1;
}

.brands-logotypes__img_color_colorful:hover,
.brands-logotypes__img_color_colorful:focus {
  opacity: 1;
}





/*------------------------------------*\
  #ABOUT-US
\*------------------------------------*/

.info-about-us {
  width: 51.5%;
}

.info-about-us__heading {
  padding-top: 58px;
  margin: 0;
  font-size: 47px;
  line-height: 48px;
}

.info-about-us__description {
  padding-top: 43px;
  padding-bottom: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.info-about-us__description:nth-child(3) {
  padding-top: 30px;
  margin: 0;
}

.info-about-us__list {
  padding-top: 73px;
  padding-bottom: 70px;
  padding-left: 36px;
  margin: 0;
}

.info-about-us__list .list__item:not(:last-child) {
  padding-bottom: 17px;
  margin: 0;
}





/*------------------------------------*\
  #CONTACTS
\*------------------------------------*/

.contacts {
  width: 48.5%;
}

.contacts__heading {
  padding-top: 58px;
  padding-bottom: 0;
  margin: 0;
  font-size: 47px;
  line-height: 48px;
}

.contacts__description {
  margin: 0;
  padding-top: 43px;
  padding-bottom: 39px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
}

.contacts__maps-link {
  display: block;

  margin-bottom: 70px;
}





/*------------------------------------*\
  #WRITE-US-MODAL
\*------------------------------------*/

.modal-form label {
  font-size: 18px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  background-color: rgb(234, 234, 234);
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea:focus {
  color: rgba(0, 0, 0, 1);
  outline: 3px solid rgb(247, 226, 150);
  background-color: transparent;
}


/*------------------------------------*\
  #MODAL-WRITE-US
\*------------------------------------*/

.modal-write-us {
  display: none;

  position: fixed;
  top: 10%;
  left: 240px;
  width: 960px;
  padding: 117px 100px 92px 100px;
  z-index: 1;

  -webkit-box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form .container:first-child,
.modal-form .container:nth-child(2) {
  width: 360px;
  margin-left: 0;
}

.modal-form .container:nth-child(2) {
  margin-right: 0;
}

.modal-form .container:last-child {
  width: 360px;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.modal-form__name,
.modal-form__email,
.modal-form__message {
  margin-top: 13px;
  margin-bottom: 41px;
  padding: 19px 20px;
}




/*------------------------------------*\
  #YANDEX-MAP-MODAL
\*------------------------------------*/

.yandex-map-modal {
  display: none;

  position: fixed;
  top: 10%;
  left: 240px;
  z-index: 2;

  -webkit-box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.2);
}




/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  padding-top: 65px;
  margin-top: 88px;
  min-height: 323px;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 70, 70);
}

.catalog-page .footer {
  margin-top: 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__item:nth-child(3) {
  margin-top: 21px;
}

.footer-nav,
.footer-user-action {
  list-style: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6px;
  padding-left: 0;
  width: 440px;
}

.footer__address,
.footer__tel-number {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
}

.footer-nav a {
  font-size: 18px;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
}

.footer-nav a:hover,
.footer-nav a:focus {
  opacity: 0.6;
}

.footer-nav a:active {
  opacity: 0.3;
}

.footer-user-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  width: 300px;
}

.catalog-page .footer-user-action {
  width: 520px;
}

.catalog-page .footer-user-action__item:first-child {
  width: 200px;
  padding-left: 68px;
}

.catalog-page .footer-user-action__item:nth-child(2) {
  width: 80px;
}

.catalog-page .footer-user-action__item:nth-child(3) {
  width: 120px;
  padding-left: 8px;
}

.footer-user-action a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-action a:hover,
.footer-user-action a:focus {
  color: rgb(255, 255, 255);
}

.footer-user-action a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-action .footer-user-action__logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer__tel-number {
  margin: 0;
}

.social-icon a,
.html-logo {
  color: rgb(255, 255, 255);
}
